@model CuentasWeb.Models.Usuario.UsuarioLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-action="Login" asp-controller="Usuario" method="post">
    <div class="card-body p-5 text-center">

        <div class="mb-md-5 mt-md-4 pb-5">

            <div class="form-horizontal d-grid justify-content-center" style="align-content: center;">
                <h4>Login</h4>
                <hr>

                <div class="form-outline form-white mb-4">
                    <label>Usuario</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-outline form-white mb-4">
                    <label>Contraseña</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-outline form-white mb-4" style="
    ">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-success btn-sm">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

}